/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0, 0%, 98%, 0.9);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 6px;
}

/* 针对不支持 WebKit 滚动条的浏览器 */
@supports not (selector(::-webkit-scrollbar)) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #d8d8d8 transparent;
  }
}

/* 薄滚动条样式类 */
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: opacity 0.3s ease;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  opacity: 0.6;
  border-radius: 10px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}