@import 'tailwindcss';
@import './mixin.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --spacing: 4px;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --radius-sm: 2px;
    --radius-md: 4px;
    --radius-lg: 6px;
    --radius-xl: 8px;
    --radius-2xl: 10px;

    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 18px;
    --text-2xl: 20px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #ededed;
    color: #333;
    font-family: -apple-system, 'Noto Sans SC';
    margin: 0;
    padding: 0;
}
